// colors
$dark1: #2A2A2A;
$dark2: #565656;
$dark3: #7C7C7C;
$red: #F02F23;
$line: #E7E7E7;
$white: #FFFFFF;

// spacing
$space-xs: 4px;
$space-sm: 8px;
$space-md-mobile: 12px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;

$space-menu: 20px;

// fonts
$poppins-light: "PoppinsLight", sans-serif;
$poppins-regular: "PoppinsRegular", sans-serif;
$poppins-medium: "PoppinsMedium", sans-serif;
$poppins-semi-bold: "PoppinsSemiBold", sans-serif;
$poppins-bold: "PoppinsBold", sans-serif;
$euclid-circular: "EuclidCircularBRegular", sans-serif;

$header-height: 62px;
