@import "../styles/index";

.categories {
  @include category-font;
  list-style-type: none;
  height: 53px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  align-items: center;
  max-width: 100vw;
  border-bottom: 1px solid $line;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    flex: 0 0 auto;
    margin-right: $space-menu;
    cursor: pointer;

    &:first-child {
      padding-left: 16px;

      @include large {
        padding-left: 0;
      }
    }

    &:hover {
      color: $dark3;
    }

    &--selected {
      color: $red;
      text-decoration:underline;
    }
  }
}
