@import "../styles/index";

.newsCardHero, .newsCard {
  border-bottom: 1px solid $line;
  padding-bottom: 16px;
  max-width: calc(100vw - 32px);

  @include large {
    padding-bottom: 20px;
    max-width: unset;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
  }
}

.newsCardHero {
  &__image {
    img {
      max-width: calc(100vw - 32px);
      max-height:100%;

      @include large {
        width: 560px;
        height: auto;
        max-width: 560px;
      }

    }
  }

  &__category {
    @include header-font($red);
    margin-top: 16px;
  }

  &__title {
    @include title-hero-font;
    margin-top: 8px;
  }

  &__description {
    @include content-font;
    margin-top: 8px;
  }

  &__meta {
    @include hero-date-font;
    margin-top: 8px;
  }
}

.newsCard {
  padding: 16px 0;
  display: flex;
  flex-direction: column;

  @include large {
    padding: 20px 0;
    flex-direction: row;
  }

  &:nth-of-type(even) {
    @include large {
      flex-direction: row-reverse;
    }
  }

  &__column {
    width: 100%;
    max-width: calc(100vw - 32px);

    @include large {
      width: 260px;
      max-width: 260px;
    }

  }

  .space {
    display: none;

    @include large {
      display: block;
      width: 40px;
    }
  }

  &__image {
    img {
      width: calc(100vw - 32px);
      max-height: 183px;

      @include large {
        width: 260px;
        height: 146px;
      }
    }
  }

  &__category {
    @include header-font($red);
    margin-top: 8px;
  }

  &__title {
    @include list-title-font;
    margin-top: 8px;
  }

  &__meta {
    @include list-meta-font;
    margin-top: 8px;
  }
}
