//noinspection CssInvalidAtRule
@import-normalize;

@font-face {
  font-family: "PoppinsLight";
  src: local("PoppinsLight"),
    url("./fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "PoppinsRegular";
  src: local("PoppinsRegular"),
  url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"),
  url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "EuclidCircularBRegular";
  src: local("EuclidCircularBRegular"),
  url("fonts/Euclid-Circular-B-Regular.ttf") format("truetype");
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'PoppinsLight', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
